# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Logs
*.log

# OS artifacts
.DS_Store
Thumbs.db

# Build output
dist/
.cache/

# Local env / secrets
.env
.env.local